@charset "UTF-8";

/* Paleta de cores 
verde : 49a09d
Lilas : 5f2c82
v*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82 ;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50% ;
    
    overflow: hidden;

    background-color: aliceblue;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px #0e0d0d71;
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%); 
}

section#login > div#imagem {
    display: block;
    text-align: center;
    padding: 20px;
    background:  #5f2c82 url(../imagens/banner.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 1em;
}

form >div.campo {
background-color: #5f2c82;
    display: flex; 
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    overflow: hidden;
}

div.campo >label{
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

div.campo > input {
    background-color: #49a09d;
    color: white;
    font-size: 1em;
    height: 100%;
    width: calc(100% - 40px); 
    border: none; 
    outline: none; 
    padding: 10px;
    border-radius: 0px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

form > input[type=submit] {
    display: block;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #49a09d;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #03423a;
}

form > a.botao {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding-top: 5px;
    margin-top: 5px;
    border: 1px solid #8e44c0;
    background-color: #ffffff;
    color: #03423a;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
}

form > a.botao:hover {
    background-color: #a95cdb;
}

form > a.botao > i {
    font-size: 0.8em;
}

div.campo > input:focus-within {
    background-color: white;
    color: #03423a;
}